:root {
	--list-item-spacing: 1em;
}
/* reading mode */
:is(ul, ol) li {
	margin-bottom: var(--list-item-spacing);
	&:last-child {
		margin-bottom: unset;
	}
}

/* edit mode */
.markdown-source-view.mod-cm6 .cm-contentContainer > .cm-content .cm-line.HyperMD-list-line {
    padding-bottom: var(--list-item-spacing) !important;
    &:last-child {
        padding-bottom: unset !important;
    }
}